/Soft Computing/Hands-on 4/MultipleLinerRegression/build/
/Soft Computing/Hands-on 4/MultipleLinerRegression/dist/
/Soft Computing/Hands-on 4/MultipleLinerRegression/nbproject/private/
/Soft Computing/Hands-on 4/SLR/build/
/Soft Computing/Hands-on 4/SLR/dist/
/Soft Computing/Hands-on 4/SLR/nbproject/private/
/Hands-on 4/MultipleLinerRegression/build/
/Hands-on 4/MultipleLinerRegression/dist/
/Hands-on 4/MultipleLinerRegression/nbproject/private/
/Hands-on 4/SLR/build/
/Hands-on 4/SLR/dist/
/Hands-on 4/SLR/nbproject/private/
